a{
  text-decoration: none;
  color: white;
}
a:visited {
  color: inherit; /* 방문 후에도 색상이 바뀌지 않도록 설정 */
}

/* 전체 Wrapper 스타일 */
.wrapper {
  justify-content: center;
  padding-bottom: 7.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

/* 로고와 애로우의 스타일 */
.LogoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: radial-gradient(farthest-corner, rgba(0, 123, 255, 0.1), transparent);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.5vw;
}

.LogoWrapper h1 {
  font-size: 4vw;
  margin: 3vw;
  margin-top: 4vw;
}

.ImpludeLogo {
  width: 20.8vw;
  height: auto;
  margin-top: 4vw;
}

.ArrowBottom {
  width: 3.1vw;
  margin-top: 1vw;
  margin-bottom: 3vw;
  transition: width 0.3s ease;
}

.ArrowBottom:hover {
  width: 3.3vw;
}

@keyframes arrowBounce {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.1);
  }
}

.ArrowBottom.animate {
  animation: arrowBounce 1.5s ease-in-out infinite;
}

/* 문구 색상 */
.PhraseBlue {
  color: #037bFF;
}

/* 임플루드 문구 영역 */
.ImpludePhrase {
  background: radial-gradient(farthest-corner, rgba(0, 123, 255, 0.1), transparent);
  border-radius: 1vw;
  font-size: 5vw;
  text-align: center;
  font-weight: bold;
  padding: 4.2vw 10vw;
  margin: 0 1.6vw;
  margin-bottom: 3vw;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ImpludePhrase h1 {
  font-size: 5.2vw;
}

@font-face {
  font-family: 'ChosunGu';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.summary-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  background-color: #f7f7f7;
  align-items: start;
  margin-top: 1vw;
  padding-top: 5vw;
  margin-bottom: 4vw;
}

/* 임플루드 소개 섹션 */
.introduceSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vw 4vw;
  margin-bottom: 2vw;
  background-color: #f7f7f7;
  width: 41vw;
  text-align: center;
}

.introduceSummary h2 {
  font-family: "SEBANG_Gothic_Bold";
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.introduceSummary p {
  font-family: "ChosunGu";
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
  line-height: 1.5;
  width: 80%;
  font-weight: 800;
}

/* 임플루드 실적 섹션 */
.achievementSummary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 1vw;
  margin-bottom: 2vw;
  background-color: transparent;
  text-align: center;
  padding-bottom: 5vw;
}

.summary-wrapper {
  background: radial-gradient(farthest-corner, rgba(0, 123, 255, 0.1), transparent);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.awardImage {
  border-radius: 5%;
  max-height: 35vw;
  max-width: 25vw;
}

.achievementSummary h2 {
  font-family: "SEBANG_Gothic_Bold";
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.achievementSummary p {
  font-family: "ChosunGu";
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
  line-height: 1.5;
  width: 80%;
  font-weight: 800;
}

.link-button {
  font-family: "SEBANG_Gothic_Bold";
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white !important; /* 중요도를 높여서 흰색으로 설정 */
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  font-size: 1vw;
}


.link-button:hover {
  background-color: #0056b3;
}
.link-button a {
  color: white !important; 
  text-decoration: none;
}

.random-achievement {
  display: flex;
  width: 40vw;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  opacity: 0; /* 처음에는 보이지 않게 */
  animation: fadeInOut 3s ease-in-out infinite;
  max-height: 15vw;
  height: 10vw;
}

.random-achievement p {
  font-size: 2vw;
  font-family: "SEBANG_Gothic_Bold";
  font-weight: bold;
  color: #037bFF !important;
  margin-bottom: 2vw;
}

.random-value {
  display: flex;
  width: 40vw;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  opacity: 0; /* 처음에는 보이지 않게 */
  animation: fadeInOut 3s ease-in-out infinite;
  max-height: 10vw;
  height: 10vw;
}
.random-value p {
  font-size: 2vw;
  font-family: "SEBANG_Gothic_Bold";
  font-weight: bold;
  color: #037bFF !important;
  margin-bottom: 2vw;
}

.SummaryText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 41vw;
  text-align: center;
  height: 10vw;
}

@keyframes fadeInOut {
  0% {
    opacity: 0; /* 처음에는 투명 */
  }
  25% {
    opacity: 1; /* 25% 지점에서 완전히 보임 */
  }
  50% {
    opacity: 1; /* 50%까지 계속 보임 */
  }
  75% {
    opacity: 0; /* 75% 지점에서 다시 사라짐 */
  }
  100% {
    opacity: 0; /* 끝에도 여전히 사라져 있음 */
  }
}

/* introduceWrapper 스타일 */
.introduceWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8rem; 
  background: radial-gradient(farthest-corner, rgba(0, 123, 255, 0.1), transparent);
  color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  gap: 2rem;
  margin-top: 3vw;
  width: 100%;
}

.Ment {
  display: flex;
  align-items: center;
}

/* 제목 스타일 */
.introduceWrapper h1 {
  font-size: 4rem;
  font-weight: 600;
  color: black;
  padding-top: 0;
  margin-top: 0;
}

.introduceWrapper h1 span {
  color: #037bff;
}

.Vision {
  max-width: 45vw;
  height: 100%;
  border-radius: 1.2vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-right: 2rem;
  animation: fadeInScale 1s ease-out;
}
@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.OgleMent {
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 55vw;
  animation: slideInLeft 1s ease-out;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.OgleMent .phar {
  color: #777;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-family: goorm-sans-bold;
  font-weight: 800;
  transition: color 0.5s ease; /* Smooth transition for color change */
}

.OgleMent .phar-acc {
  color: #333;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-family: goorm-sans-bold;
  font-weight: 800;
  transition: color 0.5s ease; /* Smooth transition for color change */
}

.OgleMent .phar:hover, .OgleMent .phar-acc:hover{
  color: #037bff; /* New color on hover */
}


@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 슬라이더 컨테이너 */
.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이미지 컨테이너 */
.image-container {
  position: relative;
}

/* 슬라이더 이미지 */
.Vision {
  width: 100%;
  height: auto;
  border-radius: 10px; /* 필요하면 추가 */
  padding: 0;
  margin: 0;
}

/* 공통 버튼 스타일 */
.slider-button {
  position: absolute;
  top: 50%; /* 버튼을 이미지 중앙에 배치 */
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  z-index: 10;
}

/* 왼쪽 버튼 */
.slider-button.left {
  left: 1rem; /* 왼쪽 버튼 위치 */
}

/* 오른쪽 버튼 */
.slider-button.right {
  right: 1rem; /* 오른쪽 버튼 위치를 조정 */
}