@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.impludeBanner {
    width: 100%;
}

/* introduceWrapper 스타일 */
.introduceWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 4vw 2rem;
    background-color: #fbfbfb;
    color: #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
    gap: 2rem;
    margin-top: 0;
    width: 100%;
}

.Ment {
    display: flex;
    align-items: center;
}

/* 제목 스타일 */
.introduceWrapper h1 {
    font-size: 4rem;
    font-weight: 600;
    color: black;
    padding-top: 0;
    margin-top: 0;
}

.Vision {
    max-width: 45vw;
    height: 100%;
    border-radius: 1.2vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 2rem;
    animation: fadeInScale 1s ease-out;
}

.OgleMent {
    font-size: 1.55rem;
    font-weight: 900;
    line-height: 1.8;
    color: #333;
    max-width: 50vw;
    animation: slideInLeft 1s ease-out;
    font-family: 'KCC-Ganpan';
}

/* 텍스트에서 강조 부분 스타일 */
.OgleMent br {
    margin-bottom: 1.5rem;
}

/* 전체 래퍼 스타일 */
.valueWrapper {
    padding: 4vw 2rem;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin: 5vw 0;
    margin-top: 0;
}

/* 제목 스타일 */
.valueWrapper h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 3rem;
}

/* 내용 전체 묶음 */
.valueMent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

/* 각각의 가치 영역 */
.valueMent div {
    width: 100%;
    max-width: 27vw;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
    line-height: 1.8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid gray;
}


.valueMent div:hover {
    animation: shake 0.4s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.theme {
    font-size: 2.7rem;
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
    color: #007bff;
    font-family: 'yg-jalnan';
}

/* 세부 내용 스타일 */
.detail {
    font-size: 1.3rem;
    color: black;
    font-weight: 400;
    font-family: 'yg-jalnan';
}

/*keyframes*/
@keyframes shake {
    0% { transform: rotate(0); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    75% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}