.wrapper {
    justify-content: center;
    padding: 50px;
}

.LogoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LogoWrapper  h1{
    font-size: 100px;
}

.ImpludeLogo {
    width: 400px;
    height: auto;
    
}

.PhraseBlue {
    color: #037AFF;
}

.ImpludePhrase {
    border-radius: '20px';
    font-size: 96px;
    text-align: center;
    font-weight: bold;
    padding: 8rem 0;
    margin: 0 3rem;
}

.ImpludePhrase h1 {
    font-size: 100px;
}