a{
    text-decoration: none;
}
a:visited {
    color: inherit; /* 방문 후에도 색상이 바뀌지 않도록 설정 */
}

.header {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between; /* 좌우로 분리 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 0 1vw; /* 좌우 여백 추가 */
}

.title h1 {
    margin-left: 2vw;
}

.headerGoto {
    display: flex;
    gap: 2vw; /* 링크 간격 조정 */
    margin-left: auto; /* 오른쪽으로 붙이기 */
    padding-right: 2vw;
}