* {
    font-family: 'SBAggroB'; /* 폰트 찾았는데 개구림 바꿔야할듯 */
    text-decoration: none;
}
.PageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
a:visited {
    color: inherit; /* 방문 후에도 색상이 바뀌지 않도록 설정 */
}

@font-face {
    font-family: 'Tenada';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari에서 스크롤바 숨김 */
}

:root {
    --gray-white: #ffffff;
    --gray-0: #fbfbfb;
    --gray-100: #ebedef;
    --gray-200: #dadcde;
    --gray-300: #cacbcd;
    --gray-400: #abacaf;
    --gray-500: #8d9093;
    --gray-600: #64676c;
    --gray-700: #56595d;
    --gray-800: #3b3d3f;
    --gray-900: #212325;
    --gray-black: #000000;
  
    --brand-100: #cce4ff;
    --brand-200: #99c8ff;
    --brand-300: #66adff;
    --brand-400: #3391ff;
    --brand-500: #0076ff;
    --brand-600: #005ecc;
    --brand-700: #004799;
    --brand-800: #002f66;
    --brand-900: #001833;
  
    --negative-500: #f63a3a;
  
    --caution-500: #ffd224;
  
    --positive-500: #27b278;
  }
  